body {
  color: red;
  height: 200px;
  background-image: url('../../../common/img/2020-11-26_11-10-53.png');
}
.box {
  background-image: url('../../../common/img/07.45.999.png');
  background-image: url('../../index/img/WechatIMG76.jpeg');
}
